:root {
  --bgColor: hsla(242, 86%, 6%, 1);
  --bgColorLight: hsla(242, 86%, 24%, 1);
  --textColor: hsla(242, 86%, 88%, 1);
  --textColorDark: hsla(242, 36%, 0%, 1);
  --paperColor: hsla(242, 86%, 44%, 1);
  --paperColorDark: hsla(242, 86%, 34%, 1);
  --shadowColorFaint: hsla(0, 0%, 0%, 0.2);
}

::selected {
  color: var(--textColorDark);
}

.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: 'Saira', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url('../texture/stary.jpg');
  background-size: cover;
  /* 图片覆盖整个容器 */
  background-position: center;
  /* 居中显示 */
}

/* #content {
  margin-top: -250px;
} */

#canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#text_a {
  font-family: Verdana, Geneva, sans-serif;
  color: #666;
  text-shadow: -1px -1px #000, -2px -2px #333, 1px 1px #fff, 2px 2px #eee;
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: -160px;
}


#text_b {
  /* margin-top: px; */
  text-align: center;
  text-shadow:-1px -1px #fff,1px 1px #333;
  color:#747373;
}


#text_c {
  text-align: center;
  text-shadow:-1px -1px #fff,1px 1px #333;
  color:#747373;
}


#text_d {
  text-align: center;
  text-shadow:-1px -1px #fff,1px 1px #333;
  color:#30abf7;
  margin-bottom: 100px;
}

#thefile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

label.file {
  display: inline-block;
  position: absolute;
  text-align: center;
  left: 42%;
  top: 60%;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

label.file:hover {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

label.file:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

label.file.normal {
  padding: 0.2rem 2rem;
  font-size: 1rem;
  top: 2%;
  left: 2%;
}