* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  /* background-color: #111111; */
  background-image: url('../bg/4.jpg');
  background-size:cover;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

canvas {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
}

#welcome {
  color: #cce7f8;  
  font-size: 3.5rem;  
  -webkit-animation: shining 0.5s alternate infinite;  
  animation: shining 0.5s alternate infinite; 
  text-align: center; /* 添加这一行实现文本居中 */
  /* margin: 0 auto; 使元素水平居中/ */
  margin-top: 10%;
}

#line1 {
  color: #cce7f8;
  text-shadow: 0 0 2px #ffffff, 0 0 4px #cce7f8; 
  text-align: center; /* 添加这一行实现文本居中 */
  margin-top: 4%;
 }

 #line2 {
  color: #cce7f8;
  text-shadow: 0 0 2px #ffffff, 0 0 4px #cce7f8; /* 微弱的发光效果 */
  text-align: center; /* 添加这一行实现文本居中 */
  margin-top: 1%;
 }

 #line3 {
  color: #cce7f8;
  text-shadow: 0 0 2px #ffffff, 0 0 4px #cce7f8; /* 微弱的发光效果 */
  text-align: center; /* 添加这一行实现文本居中 */
  font-size: 35px;
  margin-top: 1%;
 }


@-webkit-keyframes shining {  
  from {  
   text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue, 0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;  
  }  
   
  to {  
   text-shadow: 0 0 5px lightblue, 0 0 10px lightblue, 0 0 15px lightblue, 0 0 20px skyblue, 0 0 25px skyblue, 0 0 30px skyblue;  
  }  
 } 



.repoContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  top: 2rem;
  right: 2rem;
  background-color: #fafafae3;
  border-radius: 0.25rem;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  padding: 0.5rem 0.75rem;
}

.repoContainer:hover {
  transform: scale(1.07);
}

#audio {
  display: none;
}

.controls {
  display: none;
  z-index: 4;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0.25rem;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 11px 1px rgba(255, 255, 255, 0.11);
  background-color: #f1f1f5;
  animation: popUp 0.9s ease-in-out forwards;
  gap: 0.5rem;
}

.controls > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.85rem;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: none;
  border-radius: 0.25rem;
  outline: none;
}

.controls > button:hover {
  background-color: #a332ff3a;
}

.controls > button > img {
  width: 1.5rem;
}

.uploadBtn {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.playBtn {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

#fileUpload {
  display: none;
  cursor: pointer;
}

.startBtn {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
  /* transition: all 0.4s; */
  position: absolute;
  top: 60%;
  left: 46%;
}

.startBtn:hover {
  box-shadow: inset 0 0 0 4px #ef476f, 
              inset 0 0 0 8px #ffd166, 
              inset 0 0 0 12px #06d6a0,
              inset 0 0 0 16px #118ab2;
  background: #073b4c;
  color: #fff;
}

#fileUpload {
  margin: 0.25rem 1rem;
  height: 100%;
  color: #f1f1f1;
}

@keyframes popUp {
  from {
    opacity: 0;
    bottom: -3rem;
  }

  to {
    opacity: 1;
    bottom: 2rem;
  }
}
